In [ ]:
##pip install pymongo

In [1]:
import sys
sys.path.append('../../')
import pandas as pd
import sqlalchemy
import pymongo
import csv
import plotly.express as px
from pymongo import MongoClient
from flask import Flask, jsonify, render_template

In [2]:
unemployment_df = pd.read_csv('Resources/UNRATE.csv')

In [3]:
unemployment_df.head()

         DATE  UNRATE
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5

In [ ]:
##master=pd.concat([ten,eleven,twelve,thirteen,forteen,
##fifteen,sixteen,seventeen,eighteen,ninteen,twenty,twoone],ignore_index=True)

master = pd.concat([])

print(len(master))
print(master.columns)

In [ ]:
master_clean=master[['EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE','DAMAGE_PROPERTY',  'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY','BEGIN_RANGE','BEGIN_LOCATION', 'END_RANGE','END_LOCATION','EVENT_NARRATIVE', 'DATA_SOURCE']]
## master_clean.to_csv('Resources/master_clean.csv')

In [ ]:
climate = pd.read_csv('Resources/UNRATE.csv',encoding='iso-8859-1')
client = pymongo.MongoClient("mongodb+srv://finalproject:FinalProject1@cluster0.eglpg.mongodb.net/project0?retryWrites=true&w=majority")
db=client.cluster0
collection=db.cluster0
unemployment_dict = unemployment.to_dict("records")
collection.insert_many(unemployment_dict)
unemployment_df=pd.DataFrame(list(collection.find()))